<label for="dog-names">Choose genre of music:</label>
<select name="dog-names" id="dog-names">
    <option value="Rap">Rap</option>
  <option value="Classical">Classical</option>
  <option value="Raagatton">Raagatton</option>
  <option value="Jazz">Jazz</option>
</select>


<p>What year's music do you want?</p>
<div class="slider">
<input type="range" min="1920" max="2023" value="2023" oninput="rangeValue.innerText = this.value">
<p id="rangeValue">2023</p>
</div>
<button type="button">Do it!</button>


<p>Press this button to get a song w/ same genre from a different region</p>

<button type="button">Do it!</button>


<p>Press this button to get a random genera of song from a random region</p>


<button type="button">Do it!</button>
