<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sortable: `put: []` demo</title>

    <!-- Sortable.js -->
    <script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>

    <style>
      ul {
        list-style: none;
        padding: 0;
      }
      
      li {
        background: #eee;
        margin: 1px;
        padding: 5px 10px;
      }
      
      .sortable-ghost {
        opacity: .6;
      }
    </style>
  </head>
  <body>
    <%= form_for ["hello", "hi"] do |f| %>
      <ul id="foo">
      <li><%= hi :attribute %>
      <%= hi :attribute, class: 'select' %> </li>
    <% end %>
      </ul>
    
    
  </body>

  <script>
    Sortable.create(foo, {
      group: 'foo',
      animation: 100
    });

  </script>
  <script>
  $(document).ready(function() {
    $('.select').autocomplete({
      source: function(request, response) {
        var select = $('.select');
        var options = select.children('option').map(function() {
          return {
            label: this.text,
            value: this.value
          };
        });
        response(options.filter(function(option) {
          return option.label.toLowerCase().indexOf(request.term.toLowerCase()) !== -1;
        }));
      },
      select: function(event, ui) {
        var select = $('.select');
        select.val(ui.item.value);
      }
      });
      });
  </script>
</html>