<div id="<%= dom_id music %>">
  <p>
    <strong>Song name:</strong>
    <%= music.song_name %>
  </p>

  <p>
    <strong>Song popularity:</strong>
    <%= music.song_popularity %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= music.points %>
  </p>

</div>
